

/*!
 *  the Custom
 */

#recentrequest,#result,.container-header{font-weight:700;color:#ffa900}
@-ms-viewport{width:device-width}
@-o-viewport{width:device-width}
@viewport{width:device-width}
html{position:relative;min-height:100%}
body{margin-bottom:60px}
.footer{position:absolute;bottom:0;width:100%;height:60px;}
body>.container{padding:60px 15px 0}.container .text-muted{margin:20px 0}.footer>.container{padding-right:15px;padding-left:15px}code{font-size:80%}.bodyclass{font-family:Verdana;background-image:url(../images/dashboard.jpg);background-color:#2d3331}.navbarheader{background-color:#ffa900;border-color:#ffa900}.navbarheadertitle{font-size:13px;color:#004f70;font-weight:700}.navbutton{color:#ffa900;background-color:#004f70;border-color:#004f70}.panelcoustom{height:300px;border-color:#004f70;overflow:hidden}#recentrequest,#result{font-size:20px}
 .btn-primary.active, .btn-primary:active, .btn-primary:focus, .btn-primary:hover, .open .dropdown-toggle.btn-primary {
    background-color: #004f70;
    border-color: #004f70;
  }

   .disabledbutton {
    pointer-events: none;
} 

/*
<!DOCTYPE html>
 <html lang="en" data-ng-app="MetronicApp">
    <!--<![endif]-->
    <!-- BEGIN HEAD -->

    <head>
        <title data-ng-bind="'Metronic AngularJS | ' + $state.current.data.pageTitle"></title>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <meta content="" name="description" />
        <meta content="" name="author" />
        
        <!-- BEGIN GLOBAL MANDATORY STYLES -->
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
        <link href="./assets1/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
        <link href="./assets1/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
        <link href="./assets1/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="./assets1/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="./assets1/global/plugins/proton/style.css" type="text/css" />
        
        <!-- END GLOBAL MANDATORY STYLES -->
        <!-- BEGIN DYMANICLY LOADED CSS FILES(all plugin and page related styles must be loaded between GLOBAL and THEME css files ) -->
        <link id="ng_load_plugins_before" />
        <!-- END DYMANICLY LOADED CSS FILES -->
        <!-- BEGIN THEME STYLES -->
        <!-- DOC: To use 'rounded corners' style just load 'components-rounded.css' stylesheet instead of 'components.css' in the below style tag -->
        <link href="./assets1/global/css/components-rounded.min.css" id="style_components" rel="stylesheet" type="text/css" />
        <link href="./assets1/global/css/plugins.min.css" rel="stylesheet" type="text/css" />
        <link href="./assets1/layouts/layout4/css/layout.min.css" rel="stylesheet" type="text/css" />
        <link href="./assets1/layouts/layout4/css/themes/light.min.css" rel="stylesheet" type="text/css" id="style_color" />
        <link href="./assets1/layouts/layout4/css/custom.min.css" rel="stylesheet" type="text/css" />
<!--         <link rel="stylesheet" type="text/css" href="./assets1/global/plugins/sweetalert/sweetalert1.css">
 -->        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/sweetalert2/6.0.1/sweetalert2.min.css">
      <!--  <link rel="stylesheet" type="text/css" href="./assets1/global/plugins/sweetalert/swal-forms.css">
   <link rel="stylesheet" type="text/css" href="./assets1/global/plugins/sweetalert/sweetalerttheme1.css"> -->
        <!-- END THEME STYLES -->
        <link rel="shortcut icon" href="favicon.ico" /> </head>
 
    <!-- END HEAD -->
    <!-- BEGIN BODY -->
    <!-- DOC: Apply "page-header-fixed-mobile" and "page-footer-fixed-mobile" class to body element to force fixed header or footer in mobile devices -->
    <!-- DOC: Apply "page-sidebar-closed" class to the body and "page-sidebar-menu-closed" class to the sidebar menu element to hide the sidebar by default -->
    <!-- DOC: Apply "page-sidebar-hide" class to the body to make the sidebar completely hidden on toggle -->
    <!-- DOC: Apply "page-sidebar-closed-hide-logo" class to the body element to make the logo hidden on sidebar toggle -->
    <!-- DOC: Apply "page-sidebar-hide" class to body element to completely hide the sidebar on sidebar toggle -->
    <!-- DOC: Apply "page-sidebar-fixed" class to have fixed sidebar -->
    <!-- DOC: Apply "page-footer-fixed" class to the body element to have fixed footer -->
    <!-- DOC: Apply "page-sidebar-reversed" class to put the sidebar on the right side -->
    <!-- DOC: Apply "page-full-width" class to the body element to have full width page without the sidebar menu -->

    <body ng-controller="AppController" class="page-sidebar-hide page-header-fixed-mobile page-header-fixed   page-container-bg-solid   page-on-load page-sidebar-fixed " ng-class="{'page-sidebar-closed': settings.layout.pageSidebarClosed}">

        <!-- BEGIN PAGE SPINNER -->
        <div ng-spinner-bar class="page-spinner-bar">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
        <!-- END PAGE SPINNER -->
        <!-- BEGIN HEADER -->
        <div data-ng-include="'tpl1/header.html'" data-ng-controller="HeaderController" class="page-header navbar navbar-fixed-top"> </div>
        <!-- END HEADER -->
        <div class="clearfix"> </div>
        <!-- BEGIN CONTAINER -->
        <div class="page-container">
            <!-- BEGIN SIDEBAR -->
            <div data-ng-include="'tpl1/sidebar.html'" data-ng-controller="SidebarController" class="page-sidebar-wrapper"> </div>
            <!-- END SIDEBAR -->
            <div class="page-content-wrapper">
                <div class="page-content" style="padding: 2px 0 0 20px;">
                
                    <!-- BEGIN PAGE HEAD -->
<!--                     <div data-ng-include="'tpl1/page-head.html'" data-ng-controller="PageHeadController" class="page-head"> </div> -->
                    <!-- END PAGE HEAD -->
                
                    <!-- BEGIN ACTUAL CONTENT -->
                    <div ui-view class="fade-in-up"> </div>
                    <!-- END ACTUAL CONTENT -->
                    
                </div>
            </div>
            <!-- BEGIN QUICK SIDEBAR -->
            <!-- <a href="javascript:;" class="page-quick-sidebar-toggler">
                <i class="icon-login"></i>
            </a> -->
<!--             <div data-ng-include="'tpl1/quick-sidebar.html'" data-ng-controller="QuickSidebarController" class="page-quick-sidebar-wrapper"></div>
 -->            <!-- END QUICK SIDEBAR -->
        </div>
        <!-- END CONTAINER -->
        <!-- BEGIN FOOTER -->
        <div data-ng-include="'tpl1/footer.html'" data-ng-controller="FooterController" class="page-footer"> </div>
        <!-- END FOOTER -->
        <!-- BEGIN QUICK NAV -->
  
        <div class="quick-nav-overlay"></div>
        <!-- END QUICK NAV -->
        <!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
        <!-- BEGIN CORE JQUERY PLUGINS -->
        <!--[if lt IE 9]>
	<script src="../assets/global/plugins/respond.min.js"></script>
	<script src="../assets/global/plugins/excanvas.min.js"></script> 
	<![endif]-->
        <script src="./assets1/global/plugins/jquery.min.js" type="text/javascript"></script>
        <script src="./assets1/global/plugins/jquery-migrate.min.js" type="text/javascript"></script>
        <script src="./assets1/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="./assets1/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
        <script src="./assets1/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
        <script src="./assets1/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
        <script src="./assets1/global/plugins/js.cookie.min.js" type="text/javascript"></script>
        <script src="./assets1/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
        <!-- END CORE JQUERY PLUGINS -->
        <!-- BEGIN CORE ANGULARJS PLUGINS -->
        <script src="./assets1/global/plugins/angularjs/angular.min.js" type="text/javascript"></script>
        <script src="./assets1/global/plugins/angularjs/angular-sanitize.min.js" type="text/javascript"></script>
        <script src="./assets1/global/plugins/angularjs/angular-touch.min.js" type="text/javascript"></script>
        <script src="./assets1/global/plugins/angularjs/plugins/angular-ui-router.min.js" type="text/javascript"></script>
        <script src="./assets1/global/plugins/angularjs/plugins/ocLazyLoad.min.js" type="text/javascript"></script>
        <script src="./assets1/global/plugins/angularjs/plugins/ui-bootstrap-tpls.min.js" type="text/javascript"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/alasql/0.3.2/alasql.min.js" type="text/javascript"></script>
        <script src="./assets1/global/plugins/jstree/dist/jstree.js" type="text/javascript"></script>
         
        
        
        <!-- END CORE ANGULARJS PLUGINS -->
        <!-- BEGIN APP LEVEL ANGULARJS SCRIPTS -->
        <script src="./js1/fontservice.js" type="text/javascript"></script>
        
        <script src="./js1/main.js" type="text/javascript"></script>
        
        <script src="./js1/directives.js" type="text/javascript"></script>
        <script src="./js1/scripts/TreeCommon.js" type="text/javascript"></script> 
        
        <!-- END APP LEVEL ANGULARJS SCRIPTS -->
        <!-- BEGIN APP LEVEL JQUERY SCRIPTS -->
        <script src="bower_components/angular-messages/angular-messages.js" type="text/javascript"></script>
        <script src="bower_components/spring-security-csrf-token-interceptor/dist/spring-security-csrf-token-interceptor.min.js" type="text/javascript"></script>
        
        <script src="bower_components/lodash/dist/lodash.js" type="text/javascript"></script>
<!--         <script src="./assets1/global/plugins/sweetalert/sweetalert1.min.js" type="text/javascript"></script>
 -->        <script src="https://cdn.jsdelivr.net/sweetalert2/6.0.1/sweetalert2.min.js" type="text/javascript"></script>
        
        <script src="./assets1/global/plugins/sweetalert/swal-forms.js" type="text/javascript"></script>
                
                
   
         <script src="./assets1/global/scripts/app.min.js" type="text/javascript"></script>
         <script src="./assets1/layouts/layout4/scripts/layout.js" type="text/javascript"></script>
          
<!--         <script src="./assets1/layouts/global/scripts/quick-sidebar.min.js" type="text/javascript"></script> -->
<!--         <script src="./assets1/layouts/global/scripts/quick-nav.min.js" type="text/javascript"></script> -->
<!--         <script src="./assets1/layouts/layout4/scripts/demo.min.js" type="text/javascript"></script> -->
         
        <!-- END APP LEVEL JQUERY SCRIPTS -->
        <!-- END JAVASCRIPTS -->
    </body>
    <!-- END BODY -->
    <script>
 
    </script>

</html>*/